<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MyBatisLearning.mapper.TestMapper">
    <select id="selectStudent" resultType="student">
        select * from mybatislearning.student
    </select>
     <select id="getStudentById" resultType="student">
        select * from mybatislearning.student where sid =#{sid}
       <choose>
           <when test="sid==1">
               and sex="male"
           </when>
         <when test="sid==2">
               and sex="female"
           </when>
         <when test="sid==3">
               and sex="male"
           </when>
        <otherwise>
            and sex="female"
        </otherwise>
       </choose>

    </select>
    <select id="findStudentsByIds" parameterType="list" resultType="student">
        SELECT *
        FROM mybatislearning.student
        WHERE sid IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>



    <insert id="addStudent">
        insert into mybatislearning.student(name, sex) values(#{name}, #{sex})
    </insert>
    <delete id="deleteStudent">
        delete from mybatislearning.student where sid=#{sid}
    </delete>
<select id="getTeacherByTid" resultMap="asTeacher">
        select *, mybatislearning.teacher.name as tname from mybatislearning.student inner join mybatislearning.teach on mybatislearning.student.sid = mybatislearning.teach.sid
                              inner join mybatislearning.teacher on mybatislearning.teach.tid = mybatislearning.teacher.tid where mybatislearning.teach.tid = #{tid}
</select>

    <resultMap id="asTeacher" type="Teacher">
        <id column="tid" property="tid"/>
        <result column="tname" property="name"/>
        <collection property="studentList" ofType="Student">
            <result property="sid" column="sid"/>
            <result column="name" property="name"/>
            <result column="sex" property="sex"/>
        </collection>
    </resultMap>

<!--   <resultMap id="Test" type="Student">-->
<!--    <result column="sid" property="sid"/>-->
<!--    <result column="sex" property="name"/>-->
<!--    <result column="name" property="sex"/>-->
<!--       &lt;!&ndash;    把name和sex互换&ndash;&gt;-->
<!--&lt;!&ndash;    </resultMap>&ndash;&gt;-->
<!--    <select id="selectStudent" resultMap="Test">-->
<!--        select * from mybatislearning.student-->
<!--    </select>-->

</mapper>